* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Use LF for shell scripts and CRLF for batch files
*.md text eol=lf
*.sh text eol=lf
*.bat text eol=crlf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
